h1 { text-align: center; }

body {
    background: #222;
    color: wheat;
    background-image: linear-gradient(to bottom, #111, #222);
    background-size: 2px 2px;
    /*
    margin: 0;
    padding: 0;
   */
}

div { width: 920px; max-width: calc(100% - 20px); margin: auto; }

#topmostdiv {
    box-shadow: 0px -20px 50px -20px #fff;
    margin: 0 auto;
    min-height: 100vh;
    padding: 20px;
    background-color: #222;
    max-width: calc(100% - 40px);
}

ul { list-style-type: "💩"; }
dl { list-style-type: "💩"; }

a:link { color: springgreen; text-decoration: underline; }
a:visited { color: cadetblue; text-decoration: underline; }
a:hover { color: salmon; text-decoration: underline; }
a:active { color: red; text-decoration: underline; }

a img {
    filter: drop-shadow(1px 1px 6px rgba(255, 255, 255, 0.5));
}

.craftering {
    margin: auto;
    width: 50%;
    text-align: center;
}

#webrings {
    text-align: center;
}
